.form-group
  %strong Commenter:
  = comment.user.email
.form-group
  = simple_format(comment.body)

- if comment.user == current_user
<<<<<<< HEAD
  = link_to 'Destroy', movie_comment_path(movie_id: comment.movie, id: comment), method: :delete, data: {confirm: 'Are you sure?'}
  = link_to 'Edit', edit_movie_comment_path(movie_id: comment.movie, id: comment)