- if @comment.errors.any?
  #error_explanation.alert.alert-danger{role: "alert"}	
    %h4.alert-heading	
      = pluralize(@comment.errors.count, 'error')	
      prohibited this article from being save:	
    %hr/	
    %ul	
      - @comment.errors.full_messages.each do |msg|	
        %li= msg